[*.cs]

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = silent

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = silent
